@charset "utf-8";
*{
    margin: 0;
    padding: 0;

}
a, a:link{
    text-decoration: none;
    color: inherit;
}
.d-none{ 
    display: none;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

body{
    color: #000;
    font-size: 14px;
    font-family: 'Maven Pro','Noto Sans KR', sans-serif;
    background:url("../images/background");
    }
    ul{
        list-style-type: none ;
    }
.header-wrap{
        width: 1000px;
        height: 300px;
        margin: 50px auto;
        overflow: hidden;
    }
.header-logo{
    float: left;
    
}
.header-nav{
    color: #666;
    font-size: 18px;
    font-weight: 500; /*단위가 없는 속성중 하나*/
    border-left: 1px solid #000;
    float:left;
    margin-left:70px;
}
.header-nav li a:hover{
    color:red;
}
.header-nav ul{
    padding-left: 20px;
}

.links{
    float:right;
}
.links li{
    float: left;
    margin-left: 5px;
}

.hero{
    background: url("../images/visual_bg.jpg")no-repeat center / cover;
    height: 400px;

}
.hero-wrap{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
#new{
    position: absolute;
    right: 0;
    bottom:-76px;
}

.subpage > h2, .subpage > h3 {
    text-align: center;
    text-transform: uppercase;
}

.subpage > h2{
    margin-top: 100px;
    font-size: 2rem;
}
.subpage > h3{
    font-size: 1rem;
    color: #666;
}

.subpage article-wrap article:nth-child(1){
    width: 100px;
    overflow: hidden;
}

.user-form{
    background: #E92F2F;
    color: white;
    padding: 50px;
    box-sizing: border-box;
}
.user-form li{
    margin-bottom: 20px;
}
.user-form label{
    margin-right: 20px;
    display: inline-block;
    width: 100px;
}
.user-form input{
    padding: 15px 0;
    text-indent: 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none; /*아웃라인 : 없음 */
}
.user-form input:focus { /*요소 클릭시 표시해주는 */
    background: gold;
}
#user-Name, #user-Email, #user-Sns{
width: calc(100% - 150px);
}
#userAddress1 {
    width: calc( 100% - 233px);
    margin-bottom: 20px;

}
#searchAddress{
    padding: 14px 0;
    vertical-align: top;/* 수직-정렬 : 왼쪽기준, 1) table 2)inline 요소 */
    width: 100px;
    text-indent: 0;
    color: white;
    border: 0;
}

#userAddress2 {
margin-left: 124px;
width: calc(100% - 233px);
}
.agreement-form > h3{
    margin-top: 50px;
}
.agreement{
    border: 1px solid #a3a3a3;
    height: 100px;
    padding: 50;
    background: #f1f1f1;
    overflow: hidden scroll;
}
.agreement-check{
    margin: 20px 0 50px; /*위20 좌우0 아래50 */
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
input[type=checkbox] + label {
    font-size: 1rem;
}
input[type=checkbox]:checked{
    color: #E92F2F;

}
.btns{
    text-align: center;
}
.btns input[type=submit]{
    background: #E92F2F;
    color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 70px;
    font-size: 1.250rem;
    border: 0;
    margin-right:10px;


}
.btns input[type=reset] {
    background: #ffff;
    color: #666;
    width: 250px;
    height: 70px;
    font-size: 1.250rem;
    border: 1px solid #666;
    
}
.btns input[type=submit]:hover {
    background: #5C1010;
    color: white;
}
.article-wrap{
    max-width: 1000px;
    margin: 100px auto;
    overflow: hidden;
}
.article-wrap article{
    float: left;
}
/*.article-wrap article:nth-child(1){
    width: 681px;
    overflow: hidden;
}*/
.article-wrap article h2{
    text-transform: capitalize;
    margin: 0 0 10px 0;
}
.upper{
    text-transform: uppercase;
}
.theraphy-items li{
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}
.theraphy-items li:hover{
    border: 1px solid #604449;
}
.theraphy-items li:hover img{
    transform: scale(1.2);
}
.theraphy-items li img{
    transition: all .3s;
}
.theraphy-items li:hover .overlay{
display: block;
}
.overlay {
   /* display: none;*/
    position: absolute;
    background:rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.cart{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.cart:hover{
    border: 1px solid rgb(125, 125, 0);
}
.cart:hover .material-icons.md-light{
    color: rgba(123,123,0,1);
}

.theraphy-items li:nth-child(1) {
  margin-right: 21px;  
}
.theraphy-items li:nth-child(2) {
  margin-right: 22px;
}
.choice-btns{
    position: absolute;
    left: 5%;
    top: 5%;
   
}
.choice-btns div{
    display: inline-block;
}
.outer-wrap{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}
.aside-wrap{
    width: 1000px;
    margin: 0 auto;
}
.aside-wrap::after { /* clearfix 기법 */
    content: '';
    display: block;
    clear: both;
}
.aside-wrap h3 {
    float: left;
    text-transform: capitalize;
    margin-right: 30px;
    font-size: 20px;
}
.aside-wrap p{
    float: left;
    font-size: 14px;
}
.footer-wrap{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.etc li{
    display: inline-block;
}
address{
    font-style: normal;
}
address p {
    display: inline-block;
}
p.copyright {
    display: block;
}
.footer-logo {
    position: absolute;
    right: 0;
}

